<form action="Create" class="form-control">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Deprtment Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <input type="submit" value="Submit" class="btn btn-success" asp-action="Create" formmethod="post" />

</form>
